.title {
    text-decoration: none;
    color: inherit;

    a {
      text-decoration: none;
      color: white;
      animation: color 0.2s;

      &:hover {
        text-decoration: underline;
        color: #09f;
      }
    }
}

.actions {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4px;

    a {
      text-decoration: none;
      color: white;
      font-weight: 600;
      color: #09f;
    animation: color 2s;

      &:hover {
        color: var(--primary-hover);
        text-decoration: underline;
      }
    }
}

.details {
    color: var(--primary-light);
    font-weight: 700;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}